<nav class="mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> <a routerLink="/"> home </a> </li>
        <li class="breadcrumb-item"> <a routerLink="/entries"> lançamentos </a> </li>
        <li class="breadcrumb-item active"> {{pageTitle}} </li>
    </ol>
</nav>

<div class="row mb-4">
    <div class="col-md">
        <h1 class="h2 border-left pl-2"> {{ pageTitle }} </h1>
    </div>
    <div class="col-md">
        <a routerLink="/entries" class="btn btn-outline-warning float-right">
            << Voltar </a>
    </div>
</div>

<form [formGroup]="entryForm" (submit)="submitForm()">
    <div class="card">
        <div class="card-header">
            Informações sobre a entrada
        </div>
        <div class="card-body">
            <div class="form-row">

                <div class="form-group col-md-2">
                    <label for="name">Tipo</label>
                    <select name="type" id="type" class="form-control" formControlName="type">
                        <option *ngFor="let t of typesArray" value="{{t.value}}">{{ t.text }}</option>
                    </select>
                    <div *ngIf="entryForm.get('type')?.invalid && entryForm.get('type')?.touched">
                        <small class="text-danger" *ngIf="entryForm.get('type')?.errors?.required">campo
                            obrigatório</small>
                    </div>
                </div>

                <div class="form-group col-md-5">
                    <label for="name">Lançamento</label>
                    <input type="text" class="form-control" id="name" [value]="entry.name || ''" formControlName="name">
                    <div *ngIf="entryForm.get('name')?.invalid && entryForm.get('name')?.touched">
                        <small class="text-danger" *ngIf="entryForm.get('name')?.errors?.required">campo
                            obrigatório</small>
                        <small class="text-danger" *ngIf="entryForm.get('name')?.errors?.minLength">no mínimo 2
                            caracteres</small>
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <label for="name">Valor</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                R$
                            </div>
                        </div>
                        <input type="text" class="form-control text-right" id="amount" [value]="entry.amount || ''"
                            formControlName="amount" [imask]="imaskconfig">
                    </div>
                    <div *ngIf="entryForm.get('amount')?.invalid && entryForm.get('amount')?.touched">
                        <small class="text-danger" *ngIf="entryForm.get('amount')?.errors?.required">campo
                            obrigatório</small>
                    </div>
                </div>


                <div class="form-group col-md-2">
                    <label for="name">Data</label>
                    <p-calendar [(ngModel)]="entryForm.value.date" [locale]="ptBR" [showButtonBar]="true"
                        [numberOfMonths]="2" formControlName="date" inputStyleClass="form-control" dateFormat="dd/mm/yy"
                        dataType="string">
                    </p-calendar>
                    <div *ngIf="entryForm.get('date')?.invalid && entryForm.get('date')?.touched">
                        <small class="text-danger" *ngIf="entryForm.get('date')?.errors?.required">campo
                            obrigatório</small>
                    </div>
                </div>

            </div>
            <div class="form-row">

                <div class="form-group col-md-2">
                    <label for="name">Pago</label>
                    <div class="btn-group">
                        <label class="btn btn-outline-info" [class.active]="entryForm.get('paid')?.value == true"
                            (click)="entryForm.get('paid')?.setValue(true)">Pago</label>
                        <label class="btn btn-outline-danger" [class.active]="entryForm.get('paid')?.value == false"
                            (click)="entryForm.get('paid')?.setValue(false)">Pendente</label>
                    </div>
                    <div *ngIf="entryForm.get('paid')?.invalid && entryForm.get('paid')?.touched">
                        <small class="text-danger" *ngIf="entryForm.get('paid')?.errors?.required">campo
                            obrigatório</small>
                    </div>
                </div>

                <div class="form-group col-md-2">
                    <label for="name">Categoria</label>
                    <select name="category" id="category" class="form-control" formControlName="categoryId">
                        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                    </select>
                    <div *ngIf="entryForm.get('category')?.invalid && entryForm.get('category')?.touched">
                        <small class="text-danger" *ngIf="entryForm.get('category')?.errors?.required">campo
                            obrigatório</small>
                    </div>
                </div>

                <div class="form-group col-md-8">
                    <label for="description">Descrição</label>
                    <input type="text" class="form-control" id="description" [value]="entry.description || ''"
                        formControlName="description">
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-danger" *ngIf="serverErrorMessage.length > 0">
        <strong>Error no servidor</strong>
        <ul>
            <li *ngFor="let error of serverErrorMessage">{{ error }}</li>
        </ul>
    </div>

    <button [disabled]="submittingForm || !entryForm.valid" type="submit"
        class="btn btn-primary btn-lg mt-2 float-right">Salvar</button>
</form>

<pre>{{ entryForm.value | json }}</pre>
